<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <h1>1. {{package.name}}</h1>
        <h2>€{{package.price}}</h2>
        <p>{{package.description}}</p>
        <p>Delivered: Tomorrow (only in Italy)</p>
        <!-- Accent-colored raised button with ripple -->
        <a mat-raised-button href="tel:061234567890" color="primary">ORDER NOW!</a>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        <div class="wrap">
            <mat-card class="card" *ngFor="let product of package.products">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image style="height: 176px;" src="{{product.image}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>