
mat-card {
    margin-right: 10px; 
}

        .stars {
            color: gold;
            display: block;
        }

        .example-header-image {
            background-image: url('../../../../assets/article-2683106-1F716EEA00000578-498_306x423.jpg');
            background-size: cover;
          }