<!-- <ul class="mdl-grid" >
    <li>
        <a href="mailto:feedback@itashop.ita">
            <span class="name">Anabelle Vito</span>
            <p>Ita Shop is amazing! The products are delivered on time everytime! #itashop</p>
            <span class="stars">★★★★</span>
        </a>
    </li>
    <li>
        <a href="mailto:feedback@itashop.ita">
            <span class="name">Mario DiCaprio</span>
            <p>#itashop is perfect for me!</p>
            <span class="stars">★★★★</span>
        </a>
    </li>
    <li>
        <a href="mailto:feedback@itashop.ita">
            <span class="name">Julia Formaggio</span>
            <p>I wish I found itashop sooner!</p>
            <span class="stars">★★★★</span>
        </a>
    </li>
</ul> -->
<div class="mdl-grid">
<app-rating class="mdl-cell--3-col" name="Mario DiCaprio" text="Can't go without it anymore..."></app-rating>
<app-rating class="mdl-cell--3-col" name="Luigi" text="Great products, I'm lovin' it!"></app-rating>
<app-rating class="mdl-cell--3-col" name="Wario" text="Decent quality, fair price. "></app-rating>

<a href="mailto:contacto@itashop.ita"><button mat-raised-button>Send review</button></a>
</div>