<div class="mdl-grid">
    <mat-card class="mdl-cell--5-col">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><h3>Superman Kit</h3></mat-card-title>
          </mat-card-header>
          <img mat-card-image src="../../assets/Men.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            For only 25 euro's a month, you get everything a superman like you would need delivered to your home.
        </mat-card-content>
          <mat-card-actions>
                <button mat-raised-button color="primary">ORDER NOW</button>
                <button mat-raised-button routerLink="/details">DETAILS</button>
            </mat-card-actions>
    </mat-card>
    <mat-card class="mdl-cell--5-col mdl-cell--1-offset">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title><h3>Superwoman Kit</h3></mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/Women.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            For only 25 euro's a month, you get everything a superwoman like you would need delivered to your home.
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">ORDER NOW</button>
            <button mat-raised-button routerLink="/details">DETAILS</button>
        </mat-card-actions>
    </mat-card>
</div>